body {
  font-size: 12pt;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 1.8;
  background-color: #eae6e9;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 20px;
}
body > header {
  background-color: #2a1723;
  box-sizing: border-box;
  text-align: center;
}
body > header a {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
body > header a.logo {
  position: relative;
  font-size: 3em;
  line-height: 1;
  z-index: 2;
}
body > header a.logo:before {
  content: "";
  position: absolute;
  display: block;
  background-color: rgba(101, 76, 92, 0.8);
  width: 2.6em;
  height: 100%;
  top: 0;
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  transform-origin: bottom left;
  left: -0.25em;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  transform: skewX(-20deg);
  z-index: -1;
  transition: background-color 0.2s ease;
}
body > header div {
  padding: 2em 0;
  background-color: #4a3542;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
body > main {
  margin: 0 auto;
  padding: 0 4%;
  max-width: 1000px;
}
body > main > * {
  background-color: #fff;
}
body > main > *:not(h1) {
  margin-bottom: 1em;
}
body > main .message {
  padding: 1em;
  text-align: left;
}
body > main .message.info {
  background-color: #066964;
  color: white;
}
body > main .message.warning {
  background-color: #695406;
  color: black;
}
body > main .message.error {
  background-color: #690606;
  color: white;
}
body > main .message strong {
  display: block;
  margin-bottom: 0.25em;
}
body > main .field-markup {
  font-size: 0.75em;
}

a {
  color: #2a1723;
}

p {
  padding: 1em;
}

h1, h2, h3, h4, h5 {
  color: #2a1723;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  padding: 0.4em 0.4em 0 0.4em;
  margin: 0;
  line-height: 1.2;
}

h2, h3 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em 1em 1.2em;
  line-height: 1.5;
  font-weight: 400;
}

form {
  padding: 0.5em 0;
  border: 2px solid #4a3542;
  background-color: #aadad1 !important;
}

form > div > label {
  display: block;
  font-size: 1.2em;
  border-bottom: 2px solid #4a3542;
  width: 80%;
  margin: 0 auto;
}

form > div > div > label {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0 0.4em;
  background-color: #4a3542;
  border: 1px solid #4a3542;
  border-radius: 5px;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  cursor: pointer;
  color: white;
  font-weight: 700;
}

form label > * {
  display: inline-block;
}

form label span {
  padding: 0 0.4em;
}

form p {
  margin: 0;
  padding: 0.4em 1em 0;
}

form > div > div:first-child {
  padding: 1em;
}

form .field {
  padding: 0.5em 0;
}

input, textarea {
  box-sizing: border-box;
  border: 0.2em solid #4a3542;
  border-radius: 5px;
}

input[type=text], input[type=password], input[type=number], input[type=phone], input[type=email], input[type=url], textarea {
  padding: 0.2em 0.5em;
}

form .radio {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

input[type=submit] {
  background-color: #4a3542;
  color: #fff;
  border: none;
  padding: 0.25em 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.25em;
  width: 80%;
}

code {
  display: inline-block;
  line-height: 1;
  background-color: #4a3542;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  color: #fff;
}

.message.error {
  background-color: rgba(255, 0, 0, 0.2);
  padding: 1em;
  color: #c31010;
  border: 0.2em solid #c31010;
  margin: 0.6em 0;
}

.screen-reader {
  display: none;
  position: absolute;
  left: -9999em;
  top: -9999em;
}

@media (min-width: 600px) {
  h1 {
    font-size: 4em;
  }

  header div {
    padding: 3rem 0;
  }
}
@media (min-width: 1000px) {
  body {
    font-size: 15pt;
  }

  h1 {
    font-size: 4em;
  }
}

/*# sourceMappingURL=plugin/example/asset/style/main.css.map */


