body {
	line-height: 1.8;
	background-color: #eae6e9;
	letter-spacing: 1px;
	margin: 0;
	text-align: center;
	padding-bottom: 20px;
}

body, select, fieldset, input, textarea {
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
}

header {
	background-color: #2a1723;
	box-sizing: border-box;
	text-align: center;
}

header a {
	display: inline-block;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

header a.logo {
	position: relative;
	font-size: 3em;
	line-height: 1;
	z-index: 2;
}

header a.logo:before {
	content: "";
	position: absolute;
	display: block;
	background-color: rgba(101, 76, 92, .8);
	width: 2.6em;
	height: 100%;
	top: 0;
	-webkit-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
	transform-origin: bottom left;
	left: -.25em;
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	transform: skewX(-20deg);
	z-index: -1;
	transition: background-color .2s ease;
}

header div {
	padding: 2rem 0;
	background-color: #4a3542;
	border-top-left-radius: .3em;
	border-top-right-radius: .3em;
}

main {
	margin: 0 auto;
	padding: 0 4%;
	max-width: 1000px;
}

body > main > * {
	background-color: #fff;
}

a {
	color: #2a1723;
}

p {
	padding: 1em;
}

h1, h2, h3, h4, h5 {
	color: #2a1723;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	padding: .4em .4em 0 .4em;
	margin: 0;
	line-height: 1.2;
}

h2, h3 {
	font-size: 1.5em;
	margin: 0;
	padding: 1em 1em 1.2em;
	line-height: 1.5;
	font-weight: 400;
}






form {
	padding: 1em;
}

form > div > label {
	display: block;
	font-size: 1.2em;
	background-color: #eae6e9;
}

form > div > div > label {
	display: inline-block;
	margin: .5em;
	padding: 0 .4em;
	background-color: #c8ccd8;
	border: 1px solid #48446d;
	cursor: pointer;
}

form label > * {
	display: inline-block;
}

form label span {
	padding: 0 .4em;
}

form p {
	margin: 0;
	padding: .4em 1em 0;
}

form > div {
	background-color: #f3f2f2;
	border-bottom: 1px solid #d8c8d2;
}

form > div > div {
	padding: .5em 1em;
}

form > div > div:first-child {
	padding: 1em;
}

input, textarea {
	box-sizing: border-box;
	border: .2em solid #e0d5dd;
}

input[type="text"], input[type="password"], input[type="phone"], input[type="email"], input[type="url"], textarea {
	padding: .2em 0;
}

form div > input, form div > textarea {
	width: 100%;
}

input[type="submit"] {
	background-color: #48446d;
	color: #fff;
	border: none;
	padding: .5em 0;
	cursor: pointer;
}





code {
	display: inline-block;
	line-height: 1;
	background-color: #2a1723;
	padding: .2em .4em;
	border-radius: .2em;
	color: #fff;
}

.message.error {
	background-color: rgba(255,0,0,.2);
	padding: 1em;
	color: #c31010;
	border: .2em solid #c31010;
	margin: .6em 0;
}

.screen-reader {
	display: none;
	position: absolute;
	left: -9999em;
	top: -9999em;
}

@media ( min-width: 600px )  {
	h1 {
		font-size: 4em;
	}

	header div {
		padding: 3rem 0;
	}
}

@media ( min-width: 1000px )  {
	body {
		font-size: 15pt;
	}

	h1 {
		font-size: 4em;
	}
}